html {
    height:100%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1560961911-293cfd783727?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80");
    background-size: cover;
    background-position: top;
    height:100%;
    
}
