html {
    height:100%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1560961911-0ac252fecc71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height:100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
