html {
    height:100%;
}

body {
    background: url("../images/ian-schneider-TamMbr4okv4-unsplash.jpg");
    background-size: cover;
    background-position: top;
    height:100%;
}

.content{
    margin-top: 6rem;
    background-color: rgba(17, 135, 204, 0.4);
}

p {
    text-shadow: 2px 2px #ffffff;
}
